/*header*/
.nav.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 3em;
    width: auto;
    background-image: linear-gradient(white, rgb(192, 202, 216));
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
.nav.bar{
    margin: auto;
    list-style-type: none;
}
.nav.header .nav.bar a{
    text-decoration:none;
    color:black;
}

.nav.bar.image>img{
    height: 2em;
    width: 2em;
}

.nav.header .nav.bar>a:hover{
    color: white;
    transition-duration: 0.2s;
    cursor: pointer;
}

/*End header*/

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
     border: 2px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: solid 50x;
    cursor: pointer;
}
input[type=submit]{
    background-color: black;
    border-radius: 20px;    
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px;
    border: solid 2px;
}
